//
// Footer
//


// General styles

.footer {
    position: fixed;
    background: $gray-300;
    padding: 0.5rem 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    .col-footer {
        .heading {
            color: $gray-600;
            letter-spacing: 0;
            font-size: $font-size-sm;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            margin-bottom: 1rem;
        }
    }

    .nav .nav-item .nav-link,
    .footer-link {
        color: $gray-600 !important;

        &:hover {
            color: $gray-700 !important;
        }
    }

    .list-unstyled li a {
        display: inline-block;
        padding: .125rem 0;
        color: $gray-600;
        font-size: $font-size-sm;

        &:hover {
            color: $gray-700;
        }
    }

    .copyright {
        font-size: $font-size-sm;
    }
}


// Dark footer

.footer-dark {
    .col-footer .heading {
        color: $white;
    }
}


// Footer nav used for copyright and some links, but not limited to this

.nav-footer {
    .nav-link {
        font-size: $font-size-sm;
    }

    .nav-item:last-child {
        .nav-link {
            padding-right: 0;
        }
    }
}


// Footer with cards over

.footer.has-cards {
    overflow: hidden;
    padding-top: 500px;
    margin-top: -420px;
    position: relative;
    background: transparent;
    pointer-events: none;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 600px;
        height: 2000px;
        background: theme-color("secondary");
        transform: skew(0,-8deg);
    }

    .container {
        pointer-events: auto;
        position: relative;
    }
}
