<template>
    <div id="nav" class="header">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/book">Books</router-link>
    </div>
</template>
<script>
export default {
  data () {
    return {
      message: 'Message for header'
    }
  }
}
</script>
