#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;  
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #070808;
}

#nav a.router-link-exact-active {
  color: #4e6cf5;
}

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import './scss/core/headers/header';
@import './scss/core/footers/footer';