<template>
  <div>
    <h2>Books</h2>
    <b-input-group size="sm" style="width:20%">
      <b-form-input type="search" placeholder="Search terms" v-model="filter"></b-form-input>
      <b-input-group-append is-text>
        <b-icon icon="search" v-on:click="getAll" variant="primary" title="Search"></b-icon>
      </b-input-group-append>
    </b-input-group>
    <template>
        <b-table striped hover :items="data"></b-table>
        <!--table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="book in data" :key="book.idBook">
                    <td>{{ book.idBook }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.description }}</td>
                </tr>
            </tbody>
        </table-->
    </template>
  </div>
</template>

<script>
export default {
  name: 'BookIndex',
  filter: '',
  data () {
    return {
      data: [],
      loading: false
    }
  },
  created () {
    const self = this
    self.filter = ''
  },
  methods: {
    getAll () {
      const self = this
      self.loading = true

      self.$store.state.services.bookService
        .getAll(self.filter)
        .then(r => {
          self.loading = false
          self.data = r.data
        }).catch(r => {
          console.log(r)
        })
    }
  }
}

</script>
